<h1>Menuscomments#edit</h1>
<p>Find me in app/views/menuscomments/edit.html.erb</p>

Editando comentário

<%= render 'form' %>

<%= link_to 'Exibir', @menuscomment %> |
<%= link_to 'Voltar', menuscomments_path %>