<h1>Placescategories#edit</h1>
<p>Find me in app/views/placescategories/edit.html.erb</p>

Editando categoria de local

<%= render 'form' %>

<%= link_to 'Exibir', @placescategory %> |
<%= link_to 'Voltar', placescategories_path %>