<br>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Refeições</h4></div>

  <table class="table table-striped table-hover" style="width:90%; " align="center" id="tableLevels">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
         <!--<th width="20%"><%#=t '.actions', :default => t("helpers.actions") %></th> -->
      </tr>
    </thead>

    <tbody>
      <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td><%= meal.cost %></td>
        <!-- <td><%#=  link_to 'Edit', edit_level_path(level) , :class => 'btn btn-xs btn-success'  %>
          <%#= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-xs btn-danger' %>
        </td> -->
      </tr>
      <% end %>
    </tbody>
  </table>


<%= link_to 'Nova Refeição', new_meal_path, :class => 'btn btn-xs btn-primary' %>
