<h1>Restaurants#edit</h1>
<p>Find me in app/views/restaurants/edit.html.erb</p>

Editando restaurante

<%= render 'form' %>

<%= link_to 'Exibir', @restaurant %> |
<%= link_to 'Voltar', restaurants_path %>
