<h1>Campusunits#edit</h1>
<p>Find me in app/views/campusunits/edit.html.erb</p>

Editando Campus

<%= render 'form' %>

<%= link_to 'Exibir', @campusunit %> |
<%= link_to 'Voltar', campusunits_path %>