<h1>Restaurantopeninghours#edit</h1>
<p>Find me in app/views/restaurantopeninghours/edit.html.erb</p>

Editando horários da refeição no restaurante

<%= render 'form' %>

<%= link_to 'Exibir', @restaurantopeninghour %> |
<%= link_to 'Voltar', restaurantopeninghours_path %>